*{margin:0px;padding:0px;list-style:none}
.main{width: 1080px; margin: auto;}
.clear:after{content: "";display: block;clear: both;height: 0px;zoom: 1;}


/*上传头像*/
.imgIntro{clear: both;font-size: 12px;text-align: right;padding: 15px 0;color: #797979;}
.box02 {
	position: relative;
	width: 747px;;
	padding: 24px 24px 40px 69px;
}
.box02 p {
	line-height: 12px;
	line-height: 0px;
	height: 0px;
	margin: 10px;
	color: #bbb
}
.action {
	width: 400px;
	height: 30px;
	margin: 12px 0;
}
.cropped {
	position: absolute;
	right: 10px;
	top: 0;
	width: 245px;
	border-left: 1px #ddd solid;
	padding-left: 25px;
	text-align: center;
	padding-bottom: 10px;
	margin-top: 24px;
}
.imageBox {
	position: relative;
	width: 400px;
	height: 200px;
	background: #fff;
	overflow: hidden;
	background-repeat: no-repeat;
	cursor: move;
	text-align: center;
	overflow: hidden;
}
.imageBox img{
	max-height: 200px;
	max-width: 400px;
}
.imageBox .thumbBox {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	box-sizing: border-box;
	border: 2px solid #FFFFFF;
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
	background: none repeat scroll 0% 0% transparent;
}
.imageBox .spinner {
	position: absolute;
	width: 400px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 200px;
	background: rgba(0,0,0,0.7);
}
.Btnsty_peyton{
  float: right;
  width: 100px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  color: #FFFFFF;
  margin:0px 2px;
  background-color: #169bd5;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  border: solid 1px #169BD5;
  font-size: 14px;
 }
/*选择文件上传*/
.new-contentarea {
	width: 100px;
	overflow:hidden;
	margin: 0 auto;
	position:relative;
	float:right;
	margin-left: 15px;
}
.new-contentarea label {
	width:100%;
	height:100%;
	display:block;
}
.new-contentarea input[type=file] {
	width:100px;
	height:30px;
	background:#333;
	position:absolute;
	right:85%;
	margin-right:-94px;
	top:0;
	right/*\**/:0px\9;
	margin-right/*\**/:0px\9;
	width/*\**/:10px\9;
	opacity:0;
	filter:alpha(opacity=0);
	z-index:2;
}
a.upload-img{
	width:100px;
	display: inline-block;
	height:30px;
	line-height: 30px;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #169bd5;
	border-radius: 4px;
	text-decoration:none;
	cursor:pointer;
	border: 0px #169bd5 solid;
}

.tc{text-align:center;}
.cropped ul li{
	padding-bottom: 25px;
	text-align: center;
}
.cropped ul li span:first-child{float: right;margin-right: 20px;text-align: left;width: 70px;}
.cropped ul li:first-child{line-height: 100px;height: 100px;}
.img01,.img02,.img03{overflow:hidden;border-radius: 50%;display: block;position: relative;margin: auto;}
.img01{width: 100px;height: 100px;}
.img01 img,.img02 img,.img03 img{position: relative;}
.cropped ul li:nth-child(2){line-height: 55px;height:55px;}
.img02{width: 55px;height: 55px;}
.cropped ul li:last-child{line-height: 32px;height:32px;overflow:hidden;}
.img03{width: 32px;height: 32px;}

/*图像上传2*/
/*
 * imgAreaSelect default style
 */

.imgareaselect-border1 {
	background: url(border-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(border-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(border-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(border-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=80);
	opacity: 0.8;
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    max-height: 200px;
}

.imgareaselect-selection {  
}








